body {background: #FF2479}
h1 { background-color: #7A2242;}
h1 { color:white;}
.center {text-decoration: underline;}
.center {text-align: center;}
.center {font-family: fantasy;}
.brocoli {text-decoration: underline;}
.brocoli {background-color: #19401E;}
.brocoli {color: white;}
.brocoli {font-size: 45px;}
.brocoli {font-family: serif;}
.azulcito {text-decoration: underline;}
.azulcito {background-color: #1E1A4F;}
.azulcito {color: white;}
.azulcito {font-size: 45px;}
.azulcito {font-family: serif;}
h1 {font-size: 65px;}
li {font-size: 25px;}
li {text-decoration: underline;}
.honguito {font-size:30px; }
.honguito {background-color: #BAD7E8;}
.honguito {color: white}
.honguito {font-family: cursive;}
.cereza {color: black}
.cereza {font-family: fantasy;}
.cereza {font-size: 25px;}
.cereza {text-decoration: underline;}
.helado {font-size: 60px;}
.inf {font-size: 40px;}
.inf {font-family: fantasy;}
.inf {background-color: #B01072}
.inf {color: white;}
.chiken {font-size: 35px;}
.rosado{text-decoration: underline;}
.rosado {background: #FF2479;}
.rosado {text-align: center;}
.deco {font-size: 30px;}
.deco {font-family: serif;}
.deco1 {font-family: serif;}
.deco2 {font-family: serif;}
.deco2 {background: #FF2479;}
.deco3 {font-size: 35px;}
.deco3 {font-family: serif;}
.deco3 {background: #FF2479;}
.wsp{background:#FC90B9;}
.ig {background: #FC90B9;}
.tk {background: #FC90B9;}
.feis {background: #FC90B9;}
.deco4 {font-size: 45px;}
.deco4 {text-align: center;}
.deco5 {font-size: 45px;}
.deco6 {font-size: 50px;}
.deco6 {text-align: center;}
