.body {
  background: white;
}
.title {
  display: flex;
  justify-content: space-between;
  justify-content: center;

}
.title {font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 75,
    "EHLT" 5;}
.titulop {
  background-image: url(../imagenes/red.jpg);
  padding: 30px;
  margin-bottom: 40px;
  border: solid 2px black;
  border-width:  medium;
  border-radius: 2px;

}
.menú {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.menú {
background-image: url(../imagenes/rojo.jpg);
  font-family: "Sirin Stencil", sans-serif;
  font-weight: 600;
  font-size: 30px;
  font-style: normal;
  border: solid 2px black;
  margin-bottom: 50px;
}
.t1 {
  display: flex;
  justify-content: center;
  background-image: url(../imagenes/red.jpg);
margin-bottom: 30px;
}
.t1 {


    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "EDPT" 75,
      "EHLT" 5;
  }
  .carruseles {
    display: flex;
    justify-content: center;
  }

  .carruseles {
    width: 50vw;}
.deco {
  display: flex;
  justify-content: center;
  border: solid 2px black;
  background-image: url(../imagenes/rojo.jpg);
}
.deco {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 75,
    "EHLT" 5;
}
.asidee {
background-image: url(../imagenes/rojo.jpg);
padding: 20px;
border-radius: 10px;
width: 250px;
display: flex;
flex-direction: column;
align-items: flex-start;}
.asidee {
  float: right;
  margin-left: 40px;}
.asidee {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 75,
    "EHLT" 5;

 }
 .list {
   font-family: serif;
   color: white;
   text-decoration: underline;
 }
 .rec {
   font-family: "Nabla", system-ui;
   font-optical-sizing: auto;
   font-weight: 400;
   font-style: normal;
   font-variation-settings:
     "EDPT" 75,
     "EHLT" 5;
 display: flex;
 justify-content: center;
 border: solid 2px red;
 background-image: url(../imagenes/red.jpg);

 }

 .card-title {
   font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
   }
   .card-text {
     font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;

   }
   .card{
     display: flex;
     justify-content: space-between;
     flex-wrap: wrap;
 border: solid 2px black;
}

.decop {
  font-family: "Nabla", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "EDPT" 75,
    "EHLT" 5;
    display: flex;
justify-content: center;
border: solid 2px red;
background-image: url(../imagenes/rojo.jpg);
}

.deco1 {
  display: flex;
  justify-content: center;
  border: solid 2px red;
  background-image: url(../imagenes/red.jpg);
margin-bottom: 20px;
font-family: sans-serif;
color: white;
}
.fim {
  display: flex;
  justify-content: center;
  border: solid 2px red;
  background-image: url(../imagenes/rojo.jpg);
margin-bottom: 20px;
font-family: sans-serif;
color: white;
}
.footer {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;}

  .redes {
  display: flex;
  gap: 20px;
  }
  .redes {
  border: solid black;
  background-image: url(../imagenes/rojo.jpg);
    padding: 30px;
    height: 150px;
  }

  .autor
  {
      display: flex;
      margin-top: 18px;
      height: 20%;
      border: underline;
      outline: none;
      color: white;
      font-size: 1.3rem;
      font-weight: 500;
      border-radius: 10px;
      cursor: pointer;
      background-image: url(../imagenes/negron.jpg);
      font-family: serif;
  }
  .modo-inclusivo{
    display: block;
     margin: 20px auto;
     padding: 20px 10px;
     font-size: 16px;
     color: white;
     background-color: black;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     transition: background-color 0.3s ease;
}
.modo-inclusivo: hover{ background-color: red;}
body.inclusivo .modo-inclusivo{ background-color: white;
                                color: black;}

body.inclusivo{background-color: black!important; color: white !important;}

body.inclusivo.modo-inclusivo: hover{ background-color: black;}





.bdy {
  background: #145229;
}
.volver {
  background-image: url(../imagenes/verd.jpg);
    font-family: "Sirin Stencil", sans-serif;
    font-weight: 600;
    font-size: 30px;
    font-style: normal;
    border: solid 2px black;
    margin-bottom: 50px;
  }
.tt {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.tt {
  font-family: "Fredericka the Great", serif;
  font-weight: 500;
  font-style: normal;
  color: white;
  border: solid 2px black;
  background-image: url(../imagenes/verd.jpg);

}
.gif {
  margin-left: 20px;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "IM Fell Great Primer SC", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 50px;

}


  .titlee {
    display: flex;
    justify-content: center;
    font-family: "Fredericka the Great", serif;
    font-weight: 500;
    font-style: normal;
    color: white;
    border: solid 2px green;
    background-image: url(../imagenes/verd.jpg);
    margin-bottom: 50px;
  }
.fam {
  display: flex;
  justify-content: center;
  border: solid 2px green;
  background-image: url(../imagenes/verd.jpg);
margin-bottom: 20px;
font-family: sans-serif;
color: white;
}
.footeer {

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;}

  .redes {
  display: flex;
  gap: 20px;
  }
  .redess {
  border: solid white;
  background-image: url(../imagenes/verdee.jpg);
    padding: 30px;
    height: 150px;
  }
.pp1 {
  border: solid 2px white;
}
.pp2 {
  border: solid 2px white;
}
.pp3 {
  border: solid 2px white;
}

.bodyy {
  background-color: pink;
}
.titule {
  display: flex;
  justify-content: center;
  font-family: "Purple Purse", serif;
 font-weight: 400;
 font-style: normal;
 color: black;
 border: solid 2px black;
 background-image: url(../imagenes/rosita.jpg);
 margin-bottom: 100px;
}
.volver {
display: flex;
justify-content: space-around;
margin-bottom: 20px;
}
.dv {
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
    margin-bottom: 50px;
}
.cere {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
 font-size: 60px;
 border: solid 1px pink;
 border-width: 150px;
 background-image: url(../imagenes/rosita.jpg);
}


.dv2 {
  margin-left: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
    margin-bottom: 50px;

}
.sala {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
 font-size: 60px;
 color: white;
 border: solid 2px pink;
 border-width: 150px;
 background-image: url(../imagenes/rosita.jpg);
}

.volverr{
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  margin-bottom: 20px;
  background-image: url(../imagenes/rosita.jpg);
}
.dv3 {
  margin-left: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
    margin-bottom: 50px;
}
.giff {
  display: flex;
  flex-wrap: wrap;
}
.ensa {
  text-align: center;
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
 font-size: 60px;
 border: solid 2px pink;
 border-width: 150px;
 background-image: url(../imagenes/rosita.jpg);
}
.footerr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;}
}
.redesss{
  display: flex;
  gap: 20px;
  }
  .redesss {
  border: solid white;
  background-image: url(../imagenes/rosita.jpg);
    padding: 30px;
    height: 150px;}


.cuerpo {
  background-image: url(../imagenes/azul.gif);
background-repeat: no-repeat;
background-size: cover;
background-position: center;

}
    .titlep {
      display: flex;
      justify-content: center;
      color: white;
      border: solid 2px white;
      background: blue;
    }
.titlep {
  font-family: "Fredericka the Great", serif;
  font-weight: 400;
  font-style: normal;
    color: white;
    margin-bottom: 100px;
}
.contey {
  text-align: center;
  color: white;
  border: solid 2px white;
  font-family: serif;
  margin-bottom: 100px;

}
.inff{
  text-align: center;
  color: white;
  border: solid 2px white;
  font-family: serif;
  margin-bottom: 100px;
}
.vv {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  font-size: 30px;
}
.btn{
  border: solid black 3px;
  padding: 10px;
}
.btn1{
  border: solid #9C2007 3px;
  padding: 10px;
}
.btn2 {
  border: solid pink 3px;
  padding: 10px;
}
.btn3 {
  border: solid green 3px;
  padding: 10px;
}
.botoncito {
  position: fixed;
               bottom: 35px;
               right: 35px;
               padding: 10px;
               z-index: 9999 !important;
             }
  .icono-flotante{ width: 100px;
                         height: 100px;
                         border-radius: 50% 50%;}
