body {background-color: #161A17;
      background-image: url(../imagenes/foton.jpg);
      background-attachment: fixed;
      font-family: sans-serif;
     }

.header {
  background: #19401E;
  display: flex;
justify-content: space-around;
height: 70px;
padding: 50px;
}
.header {
display: flex;
flex-wrap: wrap;}

.logo {
  background: #19401E;
  color: white;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  display: flex;
  flex-wrap: wrap;
}

.lohoimg{
height: 100px;}
.logoimg {
  border: solid 10px;
  border-color: white;
}

.redes {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  height: 90px;}
  .redes{margin-right: 20px;}


  .nav { }

.p1 {border: solid 5px;
      border-color: #184F1D;}
.p2 {border: solid 5px;
      border-color: #184F1D;}
  .p3 {border: solid 5px;
        border-color: #184F1D;}

.brocolo {text-align: center;}
.brocolo {color: white;}
.brocolo {font-family:fantasy; }
.brocolo {font-size: 45px;}
.brocolo {background-color:#19401E }
.brocolo {text-decoration: underline;}
.brocoli {text-decoration: underline;}
.brocoli {color: white;}
.brocoli {font-size: 30px;}
.brocoli {font-family: fantasy;;}
.azulcito {text-decoration: underline;}
.azulcito {text-align: center;}
.azulcito {background-color: #19401E;}
.azulcito {color: white;}
.azulcito {font-size: 45px;}
.azulcito {font-family: fantasy;}
li {font-size: 25px;}
li {text-decoration: underline;}
li {color: white;}
.honguito {font-size:30px; }
.honguito {background-color: #19401E;}
.honguito {color: white}
.honguito {font-family: serif;;}
.cereza {color: white;}
.cereza {font-family: fantasy;}
.cereza {font-size: 25px;}
.cereza {text-decoration: underline;}
.helado {font-size: 60px;}
.inf {font-size: 40px;}
.inf {font-family: sans-serif;;}
.inf {background-color: #19401E}
.inf {color: white;}
.chiken {font-size: 35px;}
.chiken {font-family: sans-serif;}
.rosado{text-decoration: underline;}
.rosado {background:  #FC90B9;
         background-image: url(../imagenes/verde.jpg);
}
.rosado {
  color: green;
}
.rosado {text-align: center;}
.deco {font-size: 30px;}
.deco {font-family:  inherit;;}
.deco {color:white  ;}
.deco {text-align: center;}
.deco {text-decoration: underline;}
.deco1 {font-family: inherit;;}
.deco1 {text-align: center;}
.deco1 {text-decoration: underline;}
.deco1 {color:white }
.deco2 {font-family: inherit;;}
.deco2 {background: #184F1D;}
.deco2 {color: white}
.deco2 {text-align: center;}
.deco3 {text-align: center;}
.deco3 {font-size: 35px;}
.deco3 {font-family: serif;}
.deco3 {color: white;}
.deco3 {background: #184F1D;}
.wsp{background: #FC90B9;
    background-image: url(../imagenes/verde.jpg);
   }
   .wsp {
     color: green;
   }

.ig {background: #FC90B9;
     background-image: url(../imagenes/verde.jpg);
}
.ig {
  color: pink;
}
.tk {background: #FC90B9;
   background-image: url(../imagenes/verde.jpg);
}
.tk {
  color: red;
}
 .feis {background: #FC90B9;
  background-image: url(../imagenes/verde.jpg);
}
.feis {
  color: blue;
}
.wiwi {font-size: 30px}
.wiwi {color: white}
.wiwi {text-align: center;}
.deco4 {font-size: 45px;}
.deco4 {text-align: center;}
.deco5 {font-size: 30px;}
.deco5 {font-family: sans-serif;}
.deco6 {font-size: 30px;}
.deco6 {font-family: sans-serif;}
.deco6 {color: white;
}
.deco6 {text-align: center;}
.deco6 {
  background-color: #184F1D;
}
.video {border: solid 30px;
        border-color: #19401E ;
}

.mapass {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.mapass {
  margin-bottom: 40px;
}

.alinear2 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



.recet {font-size: 35px}
.recet {font-family:sans-serif;}
.recet2 {font-size: 35px}
.recet2 {font-family: sans-serif;}



.ap1 { margin-right: 20px;}
.ap1 {border: solid 10px;
      border-color:#184F1D ; }
.ap2 {margin-right: 20px}
.ap2 {border: solid 10px;
      border-color: #184F1D;}
.ap3 {margin-right: 20px;}
.ap3 {border: solid 10px;
      border-color: #184F1D;}

.botoncito {
  position:  fixed;
  width: 30px;
  height: 60px;
  bottom: 10px;
  right: 20px;
  border-radius: 50px;
  z-index: 100;
  box-shadow: green;
  transform: scale(1.1);}



.footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.footer {
  background-color: #184F1D;
}
.infor {
  max-width: 250px;
  text-align: center;
  font-size: 18px;
}
.infor {font-size: 30px;
  color: white;
  font-family:  monospace;
}
.infor {
  background-color: black;
  padding: 20px;
}
.redes {
display: flex;
gap: 20px;
}
.redes {
border: solid black;
  padding: 30px;
  height: 150px;
}
nav {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
nav {
  gap: 10px;
}

.carrusel { width: 100vw;
margin-bottom: 70px;
}
.carrusel {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.costado {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 70px;
}
.costado {
  font-family: serif;
}
.bet {
  border: solid blue 5px;
  padding: 10px;
}
.dropdown {

}
.dropdown-item {
  font-family: sans-serif;
}
